body {
    font-family: arial;
    background-color: #131B23;
    margin: 0px;
    color: #CCCCCC;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

/*navbar*/
.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: top 0.3s;
    background-color: #0D1217;
    filter: drop-shadow(3px 3.2px 10px #000000);
}
.nav-row {
    overflow: hidden;
    transition: top 0.3s;
}
.nav-btn {
    display: inline-block;
    padding: 15px 15px 15px 15px;
    text-align: center;
}
.nav-text {
    color: #F7F7FF;
    text-decoration: none;
}

/*content*/
.content {
    padding: 160px 160px 40px 160px;
}
section {
    display: table-row;
    padding: 40px 400px 40px 400px;
}
.section-division {
    padding: 180px 0px 180px 0px;
    text-align: center;
}

/*opening section*/
#opening {
    padding-top: 160px;
}
.section-content-half {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.section-content-full {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.title {
    font-size: 30px;
    font-weight: bold;
    background: -webkit-linear-gradient(25deg, #A55EEA, #00A8E8 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text {
    text-align: justify;
    text-justify: inter-word;
}
.section-image {
    display: table-cell;
    width: 50%;
    text-align: center;
}
.half-width-image {
    width: 50%;
    border-radius: 100%;
}

/*projects section*/
#projects-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.project-div {
    padding: 20px 20px 20px 20px;
}
.project-tab {
    height: 20px;
    width: 160px;
    border-style: solid;
    border-width: thin;
    border-color: #A55EEA;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    color: #A55EEA;
    text-align: center;
}
.project-content {
    position: relative;
    height: 200px;
    width: 300px;
    font-size: 15px;
    background-color: #25323F;
    border-style: solid;
    border-width: thin;
    border-color: #00A8E8;
    border-radius: 25px;
    border-top-left-radius: 0px;
}
.project-content-title {
    position:absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 300px;
    padding: 15px 15px 0px 15px;
    font-size: 18px;
    font-weight: bold;
    background: -webkit-linear-gradient(25deg, #A55EEA, #00A8E8 20%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-content-desc {
    position:absolute;
    top: 85px;
    left: 0;
    padding: 0px 15px 0px 15px;
}
.project-content-bottom {
    display: table-row;
    position:absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 300px;
    padding: 0px 0px 10px 15px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 40px;
}
.project-content-bottom-left {
    display: table-cell;
    width: 230px;
}
.project-content-bottom-right {
    display: table-cell;
    text-align: right;
    align-self: right;
    width: 24px;
}
.project-btn {
    height: 26px;
}