body {
    font-family: arial;
    background-color: #131B23;
    margin: 0px;
    color: #CCCCCC;
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

/*navbar*/
.nav {
    text-align: center;
    transition: top 0.3s;
    background-color: #0D1217;
    filter: drop-shadow(3px 3.2px 10px #000000);
}
.nav-row {
    overflow: hidden;
    transition: top 0.3s;
}
.nav-btn {
    display: inline-block;
    padding: 15px 15px 15px 15px;
    text-align: center;
}
.nav-text {
    color: #F7F7FF;
    text-decoration: none;
}

.content {
    padding: 160px 160px 40px 160px;
}

/*section*/
section {
    display: table-row;
    padding: 0px 400px 0px 400px;
}
#opening {
    padding-top: 160px;
}
.section-content-half {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
.section-content-full {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.title {
    font-size: 30px;
    font-weight: bold;
    background: -webkit-linear-gradient(25deg, #A55EEA, #00A8E8 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text {
    text-align: justify;
    text-justify: inter-word;
}
.section-image {
    display: table-cell;
    width: 50%;
    text-align: center;
}
.half-width-image {
    width: 50%;
    border-radius: 100%;
}
