body {
    font-family: Arial;
    background-color: #0f0f0f;
    color: white;
}

.nav {
    transition: top 0.3s;
    background-color: #1c1c1c;
}

.nav-row {
    overflow: hidden;
    transition: top 0.3s;
}

.nav-btn {
    display: inline-block;
    padding: 15px 40px 15px 40px;
    text-align: center;
}

.nav-text {
    transition: 0.3s;
    color: #fcb103;
    text-decoration: none;
}

.nav-text:hover {
    color: #9c6d00
}

.big-bold-text {
    font-size: 80px;
    color: #fcb103;
}

#intro-text {
    width: 50%;
}

.header-title {
    padding: 0px 0px 40px 0px;
    font-size: 40px;
    color: #fcb103;
    text-align: center;
}

section {
    text-align: left;
    padding: 40px 40px 40px 80px;
}

.intro-section {
    padding: 200px 40px 40px 80px;
}

svg {
    width: 200px;
    height: 200px;    
    transform: rotate(90deg);
    overflow: initial;
} 
  
circle {
    stroke-width:10px;
    fill:none;    
}

.circle_box {
    width: 25%;
    font-size: 30px;
    color: black;
    text-align: center;
}

.circle_box div {
    position: relative;
}

.circle_box span {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: #C98C00;
    font-size: 20px;
}