body {
    font-family: Arial;
    background-color: #0f0f0f;
    color: white;
}

.nav {
    transition: top 0.3s;
    background-color: #fcb103;
    box-shadow: 0px 5px 10px black;
}

.nav-row {
    overflow: hidden;
    transition: top 0.3s;
}

.nav-btn {
    display: inline-block;
    padding: 15px 40px 15px 40px;
    text-align: center;
}

.nav-text {
    transition: 0.3s;
    color: black;
    text-decoration: none;
}

.nav-text:hover {
    color: #9c6d00
}

.big-bold-text {
    font-size: 80px;
    color: #fcb103;
}

#intro-text {
    width: 50%;
}

.header-title {
    padding: 0px 0px 40px 0px;
    font-size: 40px;
    color: #fcb103;
    text-align: center;
}

.header-stripe {
    padding: 20px 0px 20px 0px;
    font-size: 30px;
    background-color: #fcb103;
    color: black;
    text-align: center;
}

section {
    text-align: center;
    padding: 40px 40px 40px 40px;
}

.intro-section {
    text-align: left;
    padding: 200px 40px 40px 80px;
}

svg {
    width: 200px;
    height: 200px;    
    transform: rotate(90deg);
    overflow: initial;
} 
  
circle {
    stroke-width:10px;
    fill:none;    
}

.circle-box {
    width: 25%;
    font-size: 30px;
    color: #0a0a0a;
    text-align: center;
}

.circle-box div {
    position: relative;
}

.circle-box span {
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: #C98C00;
    font-size: 20px;
}

.grid-container {
    align-items: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.grid-item {
    margin: 2px;
    transition: 0.3s;
    background-color: #1c1c1c;
}

.grid-container-certificate {
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
}

.grid-item-certificate {
    text-decoration: none;
    color: white;
    background-color: #1c1c1c;
    font-size: 20px;
    margin: 2px;
    padding: 40px 0px 40px 0px;
    transition: 0.3s;
}

#projects {
    text-align: center;
}

.project-item {
    text-decoration: none;
    color: white;
    background-color: #1c1c1c;
    margin: 2px;
    padding: 40px 0px 40px 0px;
    transition: 0.3s;
    font-size: 25px;
}

.project-item:hover {
    background-color: #0f0f0f;
    color: #fcb103;
}

.project-item:active {
    background-color: #1c1c1c;
    color: white;
}

.project-label {
    font-size: 15px;
}

.content {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    height: 800px;
    background-color: #0a0a0a;
}

.certificate-label {
    font-size: 15px;
}

footer {
    padding: 30px 10px 30px 10px;
    text-align: center;
    box-shadow: 7px 7px 4px 2px rgba(0, 0, 0, 0.1);
    background-color: #1c1c1c;
    color: white;
}

.footer-link {
    text-decoration: none;
    color: #fcb103;
}

.footer-link:hover {
    color: #9c6d00;
}

.footer-link:active {
    color: #fcb103;
}

.footer-logo {
    margin: 0px 10px 0px 10px;
}

@media (max-width: 1024px) {
    .nav-btn {
        padding: 10px 30px 10px 30px;
        font-size: 12px;
    }

    .circle-box {
        width: 33%;
        font-size: 20px;
    }

    .project-item {
        font-size: 15px;
    }

    .grid-item-certificate {
        font-size: 15px;
    }

    .project-label {
        font-size: 10px;
    }

    .certificate-label {
        font-size: 10px;
    }
}

@media (max-width: 700px) {
    .nav-btn {
        padding: 7px 20px 7px 20px;
        font-size: 10px;
    }

    .circle-box {
        width: 50%;
        font-size: 12px;
    }

    .project-item {
        font-size: 12px;
    }

    .grid-item-certificate {
        font-size: 12px;
    }

    .project-label {
        font-size: 7px;
    }

    .certificate-label {
        font-size: 7px;
    }
}